.DS_Store
/zips/
/test/
/.mars/
/.meridian/
.claude/settings.local.json

/.agents/agents/
/.agents/skills/
/.claude/agents/
/.claude/skills/
mars.lock
/.cursor/agents/
/.cursor/skills/
/.codex/agents/
/.codex/skills/
/.opencode/agents/
/.opencode/skills/
